.content{
    padding:50px;
    width: 800px;
    margin-left:280px;
    margin-top:50px;
    background-color:#DDC3A5;
    border-radius: 10px;
    box-shadow: 0 3px 10px #E0A96D;
}

.head1{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: white;
}

th{
    border: 3px solid #201E20 ;
    background-color: #201E20;
    color: white;
}

.table, th, td{
    width: 60%;
    border: 5px;
    padding:10px;

}

td{
    background-color: #E0A96D;
    color: white;
}

.thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.searchDiv{
    display: flex;
    flex-wrap: wrap;
}

.searchBtn{
    width:200px;
    height:35px;
    border: none;
    background-color: #E0A96D;
    color:white;
}

.searchBtn:hover{
    background-color: #de9c56;
}

#deleteBtn{
    background-color: #201E20;
    color:white;
}

#deleteButton{
    width: 80px;
    background-color: #201E20;
    color:white;
}

.formHead{
    padding:10px;
    width: 890px;
    margin-left:280px;
    margin-top:50px;
    background-color: #201E20;
    border-radius: 10px;
    box-shadow: 0 3px 10px #E0A96D;
    color: #DDC3A5;
    text-align: center;

}

.ip{
    padding:50px;
    width: 800px;
    margin-left:280px;
    margin-top:50px;
    background-color:#DDC3A5;
    border-radius: 10px;
    box-shadow: 0 3px 10px #E0A96D;
}

.searchName{
    width:580px;
    margin-bottom: 20px;
    height: 30px;
}


.formItem{
    height: 30px;
    margin:20px;
    width:200px;

}

input[type="date"]{
    height: 30px;
    margin:20px;
    width:200px;
}

.class{
    margin: 30px;
}

.input1{
    display: flex;
    flex-wrap: wrap;

}

.input2{
    display: flex;
    flex-wrap: wrap;
}

.btn{
    display: flex;
    justify-content: center;

}
.button1{
    color: #DDC3A5;
    background-color: #201E20;
    border: none;
    width:400px;
    height:40px;
}

.button1:hover{
    background-color: #3a363a;
}

