.table{
    margin: 10%;
    margin-left:50px;
}

.table, th, td{
    width: 60%;
    border: 10px solid pink;
    padding:10px;
}

.td{
    text-align: center;
}

#result{
    width:800px;
    margin:300px;

}